body {
    background: #181616;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-container {
    display: grid;
    justify-content: center;
    text-align: center;
    height: 220px;
    align-items: center;
}

.container-text {
    padding: 0 10px;
    text-align: center;
     
}

.container-text * {
    margin: 0;
}
.sub-t{
    color: rgba(240, 248, 255, 0.5);
 
}
.biografia{
    text-align: justify;
    text-align-last: center;
    font-size: 15px ;
    width: min(330px,100%);
    margin: 25px auto;
    color: rgba(240, 248, 255, 0.8);
}
.user {
    font-size: 170px;
}
.redes{
    width: min(330px,100%);
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.redes button{
    width: 50px;
    height: 50px;
    color: rgba(240, 248, 255, 0.8);
    border-radius: 50%;
    background: #181616;
    box-shadow:  18px 18px 36px #0f0e0e,
                 -18px -18px 36px #211e1e;
    font-size: 20px;
    border: none;
    transition: 300ms ease;
    cursor: pointer;
}
.redes button:hover{
    width: 50px;
    height: 50px;
    color: rgba(240, 248, 255, 0.8);
    border-radius: 50%;
    background: #181616;
    box-shadow: inset 18px 18px 36px #0f0e0e,
                inset -18px -18px 36px #211e1e;
    font-size: 20px;
    border: none;
}
.container-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.container-btn button {
    flex: min(150px, 100%);
    margin: 10px;
    min-height: 150px;
    border: 0;
    border-radius: 11px;
    background: #a10c0c;
    box-shadow: inset 5px 5px 21px #860a0a,
        inset -5px -5px 21px #bc0e0e;
}